<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>To Do List</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	 <div>
    	<h1 class="title">Quarantine To Do List</h1>
    </div>